<div class="position-relative pb-5">
  <div class="d-flex">
    <img src="images/banner.png" style="width: 100%; height: 100%" />
  </div>
  <div class="container-fluid py-3">
    <p class="text-primary fs-5 fw-semibold m-0 px-3 py-2">
      Onsite Exhibitors Registration
    </p>
  </div>
  <form [formGroup]="form">
    <div class="justify-content-center align-items-center px-3">
      <app-ui-card>
        <div class="main-selection-body">
          <div class="d-flex flex-column gap-1">
            <div class="text-secondary fs-6 fw-medium">Event Selection</div>
            <app-ui-radio-group formControlName="eventType" name="eventType">
              <app-ui-radio
                [value]="option.value"
                *ngFor="let option of eventTypeOptions"
                >{{ option.label }}</app-ui-radio
              >
            </app-ui-radio-group>
          </div>

          <div class="d-flex flex-column">
            <div class="col-12 d-flex flex-column">
              <div class="text-secondary fs-6 fw-medium col-12">Company</div>
              <p class="text-secondary fs-6 fw-normal col-12">
                If you are unable to find your company name, please approach our
                Exhibitor Team for assistance.
              </p>
            </div>
            <app-ui-select
              formControlName="company"
              [options]="(companiesOptions$ | async)!"
              placeholder="Please Select"
            ></app-ui-select>
          </div>
        </div>
      </app-ui-card>
    </div>

    <ng-container
      *ngIf="form.get('company')?.value && form.get('eventType')?.value"
    >
      <app-ui-dividers></app-ui-dividers>
      <div class="px-3">
        <div class="text-secondary fs-6 fw-normal m-0 py-0">
          * All fields are mandatory.
        </div>
        <div formArrayName="groups" class="gap-4 row justify-content-center">
          <app-exhibitor-form
            *ngFor="let group of exhibitorFormGroups; let i = index"
            [group]="group"
            [index]="i"
            [provincesOptions]="(provincesOptions$ | async)!"
            (remove)="removeGroup(i)"
          ></app-exhibitor-form>

          <button
            type="button"
            class="btn text-primary shadow-none d-flex w-auto mt-1"
            (click)="addGroup()"
          >
            Add Exhibitor
          </button>
        </div>
      </div>
      <app-ui-dividers></app-ui-dividers>
      <div class="px-3 pt-2">
        <app-ui-button (click)="register()">Register</app-ui-button>
      </div>
    </ng-container>
  </form>
</div>

<div
  class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 w-100 h-100 bg-light bg-opacity-75"
  *ngIf="(isAdding$ | async)"
  style="z-index: 1050"
>
  <div class="progress w-75" style="height: 30px">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
      role="progressbar"
      [style.width.%]="progress$ | async"
      aria-valuemin="0"
      aria-valuemax="100"
    >
      {{ (progress$ | async) || 0 }}%
    </div>
  </div>
</div>
