.form-check-input[type="radio"]:checked {
  background-color: var(--corporate-red-orange);
  border-color: var(--corporate-red-orange);
  position: relative;
}

.form-check-input[type="radio"] {
  border-radius: 50%;
  border: 2px solid #ccc;
  width: 14px;
  height: 14px;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.form-check-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background-color: var(--corporate-red-orange);
}

.ui-radio {
  color: var(--Text-text-primary, #6e6b7b);
  font-size: 16px;
  font-weight: 400;
}
