<div class="mb-3">
  <label *ngIf="label" class="form-label">{{ label }}</label>
  <select
    class="form-select"
    [value]="value"
    (change)="onInputChange($event)"
    [class.is-invalid]="
      ngControl?.invalid && (ngControl?.touched || ngControl?.dirty)
    "
  >
    <option *ngIf="placeholder && !value" selected>{{ placeholder }}</option>
    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <div
    class="invalid-feedback"
    *ngIf="ngControl?.invalid && (ngControl?.touched || ngControl?.dirty)"
  >
    <div *ngIf="ngControl?.errors?.['required']">{{ label }} is required</div>
  </div>
</div>
